.box {
  display : none;
}
.overlay{
	width : 100%;
	height : 100%;
	background-color : rgba(255, 255, 255, .8);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index : 1001;
	-moz-opacity: 0.1;

	filter: alpha(opacity=80);
}
.centerpoint {
    top: 150px;
    left: 50%;
    position: fixed;
	z-index : 1002;
}
#dialog {
    position: fixed;

    width: 350px;
    margin-left: -175px;
	
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 1px 5px 3px rgba(0, 0, 0, .05), 0 5px 4px -3px rgba(0, 0, 0, .06);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.message{
	width : 350px;
	height : 45px;
	padding : 15px 0px 0px 0px;
	text-align : center;
	background : #ffffff;
	font-family: 'PT Sans',Arial,Helvetica,sans-serif;
	font-size : 13px;
	color : #777777;
	
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.submit{
	outline:none;
	background:#00aec8;
	width:60px;
	height:25px;
	color:#ffffff;
	text-transform:uppercase;
	font-family: 'PT Sans Bold',Arial,Helvetica,sans-serif;
	cursor:pointer;
	border : none;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.cancel{
	outline:none;
	background:#333;
	width:60px;
	height:25px;
	color:#ffffff;
	text-transform:uppercase;
	font-family: 'PT Sans Bold',Arial,Helvetica,sans-serif;
	cursor:pointer;
	border : none;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
